**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
crash.*.log
*.tfvars
terraform/modules/lambda/*.zip
terraform/environments/dev/subscribers.csv
terraform/modules/glue_starter_lambda/*.zip
terraform/environments/dev/test.csv
terraform/modules/crawler_starter_lambda/*.zip



